
<nav>

  <nav>
    <div class="logo">
      <a href="#"><img src="https://dynamic.brandcrowd.com/preview/logodraft/56844373-4f6d-459b-8fd8-3d283a21530b/image/large.png" alt="Your Logo"></a>
    </div>
  </nav>
    <ul>
      <li><a routerLink="home">Home Page</a></li>
      <li><a routerLink="homebooking">Home Booking</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="signup">Sign Up</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="about">About Us</a></li>
      
    </ul>
    </nav>

