nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #f1f1f1;
}






nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0c0c;
  padding: 1px;
}

.logo img {
  max-height: 100px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fbfbfb;
}
