<h2 class="h2-responsive fw-bold text-center my-2">
   Home Booking Form
</h2>
<br><br>
<div class="container">
  <form #f="ngForm" (ngSubmit)="addData(f)">
      <label for="fname">First Name</label>
      <input type="text"  name="name" placeholder="Your name.." required [(ngModel)]="name">
  
      <label for="Email">E-mail</label>
      <input type="text"  name="Email" placeholder="Your email.." required [(ngModel)]="email">
      <label for="phonenumber"> Phone Number</label>
      <input type="text"  name="phno" placeholder="Your phone no.." required [(ngModel)]="phone">

      <label for="currentaddress">Current Address</label>
      <input type="text"  name="currentaddress" placeholder=" Current Address.." required [(ngModel)]="currentaddress">
     
      <label for="noofpersons">Number of Persons</label>
      <input type="text"  name="noofpersons" placeholder=" No of Persons..  " required [(ngModel)]="noofpersons">

      <label for="noofperiod">Number of Period</label>
      <input type="text"  name="noofperiod" placeholder=" Number of period.. " required [(ngModel)]="noofperiod">
<!--       
      <div class="form-group">
        <label for="exampleFormControlSelect1">Distance</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Below 10km</option>
          <option>Above10-20km</option>
          <option>20-40km</option>
          <option>50-100km</option>
          <option>Above 100km</option>
        </select>
      </div>
   -->
      <label for="message"> Ask Any Queries About Home</label>
      <textarea  name="message" placeholder="Write any queries.." style="height:200px" required [(ngModel)]="message"></textarea>
  
      <input type="submit"  value="Book Now" />
      <div class="c"><button class='t'><a class="m" href="payment">Payment</a></button></div>
      
    </form>

  </div>

