
<body>
  <section class="about-us">
    <div class="about">
      <img src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVudGFsJTIwcHJvcGVydHl8ZW58MHx8MHx8&w=1000&q=80" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5>RENTAL HOMES <span></span></h5>
          <p>Rental Homes is a leading home rental apps in Tiruvalla,Pathanamthitta. We bring you the most intuitive property search app experience.Because through our range of house for rent and select the ones in your budget.We are on of the top commercial property apps in kerala either maximum profit available for rent.The apps takes you beyond the useful facts and brings detailed information to help you narrow down your search.This website help us to find many homes for rents.Here the details of homes is available and the rent rate is affordable for all clients.Clients can book the desired home for rents.</p>
        <div class="data">
        <a href="https://instagram.com/_aswathy_pillai?igshid=YmJhNjkzNzY=" class="hire">Hire Me</a>
        </div>
      </div>
    </div>
  </section>
</body>





<footer>
  <p>© Copyright 2023 rentalhomes</p>
  <p><a href="rentalhomes@gmail.com">rentalhomes@gmail.com</a></p>

    
  </footer>





