
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.gannett-cdn.com/presto/2021/01/12/NPBD/08d0fd5e-2255-4d49-b608-e83342ae4615-PBN_POOL_REAR_535_N_County_Road_HiRes_PictureItSoldFL.jpg" class="d-block w-100" alt="..." width="100" height="630">
        </div>
        <div class="carousel-item">
          <img src="https://www.worldatlas.com/r/w1200/upload/fc/2a/38/shutterstock-511372381.jpg" class="d-block w-100" alt="..."width="100" height="630">
        </div>
        <div class="carousel-item">
          <img src="https://www.teahub.io/photos/full/195-1951838_high-resolution-images-of-houses.jpg" class="d-block w-100" alt="..."width="100" height="630">
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
 



    <footer>
      <p>© Copyright 2023 rentalhomes</p>
      <p><a href="rentalhomes@gmail.com">rentalhomes@gmail.com</a></p>
</footer>

   

